@using System.Web.Optimization;
@{
    bool is3ds = Request.UserAgent.Contains("Nintendo 3DS");
    bool isRegular3ds = Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 3DS Gallery</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/icon.png" />
    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body class="@(is3ds? "menu-bottom" : "menu-top")">
    <div id="toggleMenuBtn" style="visibility: hidden; opacity: 0">
    -
    -
    -
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="visibility: hidden; opacity: 0">
        <div class="container">
            @{
                string homeCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-home\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/home.png\" />";
                string userCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-user\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/user.png\" />";
                string loginCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-log-in\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/log-in.png\" />";
                string logoutCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-log-out text-danger\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/log-out-red.png\" />";
                string gallCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-blackboard text-success\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/blackboard.png\" />";
                string picCode = !isRegular3ds ? "<span class=\"glyphicon glyphicon-picture text-info\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/picture.png\" />";
            }
            <a href="/" class="navbar-brand">@Html.Raw(homeCode)<span class="collapsible"> 3DS Gallery</span></a>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Gallery")">@Html.Raw(gallCode)<span class="collapsible"> Galleries</span></a></li>
                <li><a href="@Url.Action("Index", "Picture")">@Html.Raw(picCode)<span class="collapsible"> Images</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("MyProfile", "User")">@Html.Raw(userCode)<span class="collapsible"> Profile</span></a></li>
                        <li><a href="@Url.Action("Logout", "User")">@Html.Raw(logoutCode)<span class="collapsible"> Log Out</span></a></li>

                    }
                    else
                    {
                        <li class="collapsible"><a href="@Url.Action("Register", "User")">@Html.Raw(userCode)<span class="collapsible"> Sign Up</span></a></li>
                        <li><a href="@Url.Action("Login", "User")">@Html.Raw(loginCode)<span class="collapsible"> Log In</span></a></li>
                    }
                }
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
        <footer>
            <div class="container body-content">
                <img id="secretFeature" hidden class="img-glyphicon" src="/Content/glyphicon/secret.png" />
                <p>For any issues, suggestions and wishes contact me at <a href="mailto:yaroslav.golyuk@gmail.com">yaroslav.golyuk@gmail.com</a></p>
                <span>&copy; 2017 - @DateTime.Now.Year <span class="my-heart">♥</span> Ярославчик Iнкорпорейтед</span>
                @*<p>Icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>*@
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", false)

<script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        if ($('body').hasClass('menu-bottom')) {
            $('body > div.navbar')
                .appendTo($('footer'))
                .removeClass('navbar-fixed-top')
                .addClass('navbar-fixed-bottom');

            if (getCookie('menuHidden') === 'true') {
                $('.navbar').css({ 'margin-left': -350, 'right': 350 }).addClass('menu-hidden');
                $('body.menu-bottom').css('padding-bottom', '0px');
                $('#toggleMenuBtn').text('+\n\+\n+');
            }
            else {
                $('body.menu-bottom').css('padding-bottom', '90px');
            }

            $('#toggleMenuBtn').css({
                'visibility': 'visible',
                'opacity': 1
            });
        }

        $('div.navbar').css({
            'visibility': 'visible',
            'opacity': 1
        });

        $('#secretFeature').click(function () {
            var newTab = window.open('', '_blank');
            $.ajax({
                type: "POST",
                url: "@Url.Action("Random","Picture")",
                success: function (data) {
                    newTab.location.href = '/' + data;
                },
                error: function () {
                    newTab.close(); // Close the tab if error
                }
            });
        });

        $('.my-heart').click(function () {
            $(this).addClass('happy').off('click');
            $('#secretFeature').show();
            $('html, body').animate({ scrollTop: $(document).height() }, 1000);
        });

        $('#toggleMenuBtn').click(function () {
            // show menu
            if ($('.navbar').hasClass('menu-hidden')) {
                $('.navbar').css({ 'margin-left': 0, 'right': 0 }).removeClass('menu-hidden');
                $('body.menu-bottom').css('padding-bottom', '90px');
                $(this).text('-\n-\n-');

                setCookie('menuHidden', 'false', 7);
            }
            // hide menu
            else {
                $('.navbar').css({ 'margin-left': -350, 'right': 350 }).addClass('menu-hidden');
                $('body.menu-bottom').css('padding-bottom', '0px');
                $(this).text('+\n\+\n+');

                setCookie('menuHidden', 'true', 7);
            }
        });
</script>
</body>
</html>