@{
    string is3ds = Request.UserAgent.Contains("Nintendo 3DS").ToString().ToLower();
    string isOld3ds = (Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS")).ToString().ToLower();
}

<script>
    var showHideCommentInit= function(){
        $(this).parent().toggleClass('comment-expanded');
        if ($(this).parent().hasClass('comment-expanded')){
            $(this).text("▼").appendTo($(this).parent());
        }
        else{
            $(this).text("▲").prependTo($(this).parent());
        }
    }

    function initImg() {
    $(".rate-like").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            var auth = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (!auth) return;

            var item = $(this).closest(".thumbnail");
            var id = item.attr("data-id");
            var self = this;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Like","Picture")/" + id,
                success: function (data) {
                    $(self).closest(".rate-container").toggleClass("liked");
                    $(self).closest(".rate-container").find(".rate-count").text(data);
                    if (@isOld3ds == false) {
                        if ($(self).hasClass("glyphicon-heart"))
                            $(self).removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                        else
                            $(self).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                    }
                }
            });
        });
    });

    $(".img-delete").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            if (!confirm('This image will be deleted. OK?')) return;

            var item = $(this).closest(".thumbnail");
            var id = item.attr("data-id");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete","Picture")/" + id,
                success: function (data) {
                    if (data == "ok")
                        item.parent().fadeOut(500, function () {
                            $(this).parent().remove();
                        });
                }
            });
        });
    });

    $(".img-edit").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            var thumb = $(this).closest(".thumbnail");
            var id = thumb.attr("data-id");
            if ($(this).hasClass("active")) {
                thumb.find(".img-comment-change").hide().val(thumb.find(".img-comment-text").text());
                thumb.find(".img-comment").show();
                thumb.find(".img-edit-save").hide();
                $(this).removeClass("active");
            } else {
                thumb.find(".img-comment-change").show();
                thumb.find(".img-comment").hide();
                thumb.find(".img-edit-save").show();
                $(this).addClass("active");
            }
        });
    });

    $(".img-edit-save").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            var thumb = $(this).closest(".thumbnail");
            var id = thumb.attr("data-id");
            var comment = thumb.find(".img-comment-change").val();
            var self = this;
            thumb.find(".save-icon").hide();
            thumb.find(".saving-load").show();
            $.ajax({
                url: '@Url.Action("EditComment", "Picture")?id=' + id + '&comment=' + encodeURIComponent(comment),
                type: "POST",
                success: function (data) {
                    if (data == "ok") {
                        thumb.find(".img-comment-change").hide();
                        thumb.find(".img-comment").show().removeClass("comment-expanded").find(".img-comment-text").text(comment);
                        thumb.find(".img-comment").find(".show-hide-comment").remove();
                        if (thumb.find(".img-comment")[0].scrollWidth > thumb.find(".img-comment").innerWidth()) {
                            $(thumb.find(".img-comment")).prepend($('<span class="show-hide-comment pull-right">▲</span>').click(showHideCommentInit));
                        }
                        thumb.find(".img-edit-save").hide();
                        thumb.find(".img-edit").removeClass("active");

                        thumb.find(".saving-load").hide();
                        thumb.find(".save-icon").show();
                    }
                },
                error: function () {
                    thumb.find(".saving-load").hide();
                    thumb.find(".save-icon").show();
                    alert("Error occurred.\nMaybe you've entered too many words into description.\nMax length in photo description is 150 symbols.");
                }
            });
        });
    });

    $(".img-comment").not("[data-init]").each(function (i, e) {
        $(this).attr("data-init", "true");
        if ($(e)[0].scrollWidth > $(e).innerWidth()) {
            $(e).prepend($('<span class="show-hide-comment pull-right">▲</span>'));
        }
    });

    $(".show-hide-comment").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function () {
            showHideCommentInit.call(this);
        });
    });

    $(".qr-btn").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            var id = $(this).closest(".thumbnail").attr("data-id");
            var item = $(this).closest(".thumbnail").find(".qr-container");
            var itemImg = item.find(".qr-img");
            if ($(this).hasClass("active")) {
                item.hide();
                $(this).removeClass("active");
            } else {
                if (itemImg.attr("data-loaded") == "no") {
                    $.ajax({
                        url: '@Url.Action("GetPath", "Picture")/' + id,
                        type: "POST",
                        success: function (data) {
                            itemImg.attr("src", "https://quickchart.io/chart?cht=qr&chs=100x100&chld=L|1&chl=" + data);
                            itemImg.attr("data-loaded", "ok");
                        }
                    });
                }
                item.show();
                $(this).addClass("active");
            }
        });
    });

    $(".preview-container-md .type").not("[data-init]").each(function () {
        $(this).attr("data-init", "true").click(function (e) {
            e.preventDefault();
            var id = $(this).closest(".thumbnail").attr("data-id");
            var url = '@Url.Action("GenerateSideBySide", "Picture")/' + id;
            window.open(url, "_blank");
        });
    });

$(".preview-container-md .menu").not("[data-init]").each(function () {
    var $menu = $(this);
    $menu.attr("data-init", "true").click(function (e) {
        e.preventDefault();
        var $parent = $menu.parent();

        $(".preview-container-md .menu.active").not($menu).each(function () {
            var $otherMenu = $(this);
            $otherMenu.removeClass("active");
            $otherMenu.parent().find(".menu-items").fadeOut(200, function () { $(this).remove(); });
        });

        if ($menu.hasClass("active")) {
            $menu.removeClass("active");
            $parent.find(".menu-items").fadeOut(200, function () { $(this).remove(); });
            return;
        }

        $menu.addClass("active");

        var styleClass = $parent.attr("data-style");
        var author = $parent.attr("data-author");
        var galleryId = $parent.attr("data-id-gallery");
        var picPath = $parent.attr("data-pic-path");

        var lowerPath = picPath.toLowerCase();
        var isMpo = lowerPath.indexOf(".mpo") === lowerPath.length - 4;

        var html = '<div class="menu-items">\
            <div class="item">\
                <a class="no-link-style" href="@Url.Content("~/User/")' + author + '">\
                    Visit <b class="text-' + styleClass + '">' + author + '\'s</b> profile\
                </a>\
            </div>\
            <div class="item">\
                <a class="no-link-style" href="@Url.Content("~/Gallery/")' + galleryId + '">\
                    Open <b class="text-' + styleClass + '">Gallery</b>\
                </a>\
            </div>';

        if (!@is3ds) {
            html += '<div class="item download-jpg">Download as .<b>JPG</b></div>';
            if (isMpo) {
                html += '<div class="item download-mpo">Download as .<b class="text-3ds-red">M</b><b class="text-3ds-dark">PO</b></div>';
            }
        }

        html += '</div>';

        var $menuItems = $(html);

        $parent.append($menuItems.hide().fadeIn(200));

        if (!@is3ds) {
            $menuItems.find(".download-jpg").click(function () {
                var downloadPath = isMpo ? picPath.replace(/\.mpo$/i, ".jpg") : picPath;
                var link = document.createElement("a");
                link.href = "@Url.Content("~")" + downloadPath;
                link.download = downloadPath.substring(downloadPath.lastIndexOf("/") + 1);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });

            $menuItems.find(".download-mpo").click(function () {
                var link = document.createElement("a");
                link.href = "@Url.Content("~")" + picPath;
                link.download = picPath.substring(picPath.lastIndexOf("/") + 1);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        }
    });
});


    if (@is3ds == true) {
        $(".gallery-name,.gallery-desc,.img-comment-text,.img-comment-change").not("[data-init]").each(function (i, e) {
            $(this).attr("data-init", "true");
            var thisText = $(this).text();
            $(this).text(thisText = thisText.replace(/І/g, 'I'));
            $(this).text(thisText = thisText.replace(/і/g, 'i'));
            $(this).text(thisText = thisText.replace(/Ї/g, 'Ï'));
            $(this).text(thisText = thisText.replace(/ї/g, 'ï'));
            $(this).text(thisText = thisText.replace(/Є/g, 'Σ'));
            $(this).text(thisText = thisText.replace(/є/g, 'ε'));
        });
    }};

    $(function(){
        initImg();
    })
</script>