@model _3dsGallery.WebUI.Models.AddPictureModel

@{
    ViewBag.Title = "Add image to the gallery";

    bool isOld3ds =  Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS");
    string deleteBtnCode = !isOld3ds ? "<span class=\"glyphicon glyphicon-remove\"></span>" : "<img class=\"img-glyphicon\" src=\"/Content/glyphicon/remove.png\" />";
}

<div class="section-white">
    <div class="container body-content">
        <h2>Add Image</h2>
        <h5>To "<span class="text-@Model.Gallery.Style.value">@Model.Gallery.name</span>"</h5>
    </div>
</div>

<div class="section-grass-green dashed-top">
    <div class="container text-success text-center">
        <b><em>NEW!!</em></b> Press the <b>+1</b> btn to add up to 5 pics
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-top">
        @using (Html.BeginForm("AddPicture", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "mainForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        <div id="file-inputs-container">
                            <div class="file-input-row">
                                <input class="form-control" name="file" type="file" accept=".jpg, .mpo" />
                                <button type="button" id="addMoreBtn" class="btn btn-success btn-xs">+1</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(x => x.isAdvanced, "Advanced Settings", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-default" data-toggle="collapse" data-target="#advanced">
                                @Html.CheckBoxFor(x => x.isAdvanced) On/Off
                            </label>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="advanced">
                    <div class="form-group">
                        @Html.LabelFor(x => x.isTo2d, "Save as 2D", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle="collapse" data-target="#save-as-2d">
                                    @Html.CheckBoxFor(x => x.isTo2d) Yes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="save-as-2d" class="form-group collapse">
                        <label class="control-label col-md-2">Which one?</label>
                        <div class="col-md-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    @Html.RadioButtonFor(x => x.leftOrRight, 0) Left
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(x => x.leftOrRight, 1) Right
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" id="hiddenAction" name="action" value="" />
                        <input id="submitBtn" type="submit" name="action" value="Upload" class="btn btn-default" />
                        <input id="submitMoreBtn" style="border: 1px dashed grey; margin-top: 2px" type="submit" name="action" value="Upload & Add More" class="btn-sm" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

    <script>
        var MAX_FILE_INPUTS = 5;

        function updateAddMoreBtn() {
            var count = $('#file-inputs-container .file-input-row').length;
            if (count >= MAX_FILE_INPUTS) {
                $('#addMoreBtn').hide();
            } else {
                $('#addMoreBtn').show();
            }
        }

        function createFileRow() {
            var row = $('<div class="file-input-row"></div>');
            var input = $('<input name="file" class="form-control" type="file" accept=".jpg, .mpo" />');
            var deleteBtn = $('<button class="img-delete btn btn-xs btn-danger">@Html.Raw(deleteBtnCode)</button>');
            deleteBtn.click(function () {
                $(this).closest('.file-input-row').remove();
                updateAddMoreBtn();
            });
            row.append(input);
            row.append(' ');
            row.append(deleteBtn);
            return row;
        }

        $(function () {
            $('#addMoreBtn').click(function () {
                var count = $('#file-inputs-container .file-input-row').length;
                if (count < MAX_FILE_INPUTS) {
                    $('#file-inputs-container').append(createFileRow());
                    updateAddMoreBtn();
                }
            });

            updateAddMoreBtn();

            $('#submitBtn').click(function () {
                $('#hiddenAction').val('Upload');
            });

            $('#submitMoreBtn').click(function () {
                $('#hiddenAction').val('Upload & Add More');
            });

            $('#mainForm').submit(function () {
                var form = $(this);

                if (!form.valid()) {
                    return; // Don't disable the buttons if validation fails
                }

                $('#submitBtn').prop('disabled', true).val('Please wait...');
                $('#submitMoreBtn').prop('disabled', true).val('Please wait...');
            });
        });
    </script>
}
