@model _3dsGallery.DataLayer.DataBase.Gallery

@{
    ViewBag.Title = $"\"{Model.name}\"";
    string isOld3ds = "true";// (Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS")).ToString().ToLower();
}

@section Styles {
    <link href="~/Content/pagination.min.css" rel="stylesheet" type="text/css" />
}

<div class="section-white">
    <div class="container body-content section-separator-bottom">
        <div class="h2-container">
            <div class="dropdown btn-group pull-right">
                <button class="btn btn-@Model.Style.value dropdown-toggle" type="button" data-toggle="dropdown">Filter</button>
                <ul class="filter-ul dropdown-menu dropdown-menu-right">
                    <li class="active"><a class="filter" value="new" href="#">New</a></li>
                    <li><a class="filter" value="old" href="#">Old</a></li>
                    <li><a class="filter" value="best" href="#">Best</a></li>
                    <li><a class="filter" value="3d" href="#">3D</a></li>
                    <li><a class="filter" value="2d" href="#">2D</a></li>
                </ul>
            </div>
            <h2 class="text-@Model.Style.value gallery-name">@Model.name <img id="loading" src="~/Content/loading_black.gif" height="25" width="25" hidden /></h2>
        </div>
        <p class="gallery-desc">@Model.info</p>
        @if (Model.User.login == User.Identity.Name)
        {
            <hr />
            <div class="row text-center">
                <a href="@Url.Action("Delete", "Gallery", new { id = Model.id })" class="btn btn-danger">Delete</a>
                <a href="@Url.Action("Edit", "Gallery", new { id = Model.id })" class="btn btn-info">Edit</a>
                <a href="@Url.Action("AddPicture", "Gallery", new { id = Model.id })" class="btn btn-success">Add image</a>
            </div>
        }
    </div>
</div>

<div class="section-grey">
    <div class="container body-content section-separator-top">
        <div id="picture-data">
            @{ Html.RenderAction("ShowPage", "Picture", new { page = (int)ViewBag.Page, filter = ViewBag.Filter, gallery = Model.id }); }
        </div>

        @{
            int pages = (int)ViewBag.Pages;
            int page = (int)ViewBag.Page;
            if (pages > 1)
            {
                <div id="pagination" class="t-slate-gray text-center"></div>
            }
        }
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @if (bool.Parse(isOld3ds))
    {
        <script src="~/Scripts/paginationFor3ds.js"></script>
    }
    else
    {
        <script src="~/Scripts/paginationAjax.min.js"></script>
    }
    @RenderPage("~/Views/Shared/MainScripts.cshtml")
    <script>

        $(function () {
            var contentPages = @ViewBag.Pages;
            $(".filter").on("click",function(e) {
                if ($(this).parent().hasClass("active"))
                    return false;
            }).each(function(i,e){
                if ('@ViewBag.Filter' == $(e).attr("value")) {
                    $(this).parent().addClass("active");
                } else {
                    $(this).parent().removeClass("active");
                }
            });

            if (@isOld3ds == true) {
                $(".filter").each(function(i,e){
                    $(e).attr("href", '@Url.Action("Details", "Gallery")?page=1&filter=' + $(e).attr("value"))
                });
                createPagination(@ViewBag.Page, contentPages,'@Url.Action("Details","Gallery")',{
                    'filter': '@ViewBag.Filter',
                });

                return;
            }

            $("#pagination").paginationAjax('@Url.Action("ShowPage", "Picture")', contentPages, paginationAjaxData);
            $(".filter").on("click",filterItemEventClick);
        });

        var paginationAjaxData = {
            dataElementSelector: "#picture-data",
            urlParameters: getFilterParams(),
            language: "en-US",

            beforeLoadPage: function () {
                loading(true);
                $('html, body').animate({ scrollTop: "0px" });
            },
            afterLoadPageSuccess: function () { loading(false); },
            afterLoadPageError: function () { loading(false); },

            paginationStyle: "allPagesShrink",
            paginationStyleFlexible: true,
            visiblePagesCount: 5
        };

        function loading(isLoading) {
            if (isLoading) {
                $("#loading").show();
                $(".filter-group > a.list-group-item").addClass("disabled");
                $(".pagination li:not(.active)").addClass("disabled");
            } else {
                $("#loading").hide();
                $(".filter-group > a.list-group-item").removeClass("disabled");
                $(".pagination li").removeClass("disabled");
            }
        }

        function getFilterParams(page) {
            var params = {};

            params["gallery"] = @Model.id;
            params["filter"] = $(".filter-ul>.active>.filter").attr("value");
            return params;
        }

        function filterItemEventClick(e) {
            loading(true);
            var self = this;
            $(".filter-ul>.active").removeClass("active");
            $(this).parent().addClass("active");
            var urlParams = $.param(getFilterParams());
            $("#picture-data").load('@Url.Action("ShowPage", "Picture")?page=1&' + urlParams, function () {
                initImg();
                $("#pagination").paginationAjax('@Url.Action("ShowPage", "Picture")', contentPages, $.extend(paginationAjaxData, { urlParameters: getFilterParams() }));
                loading(false);
            });
        }
    </script>
}
