@model IEnumerable<_3dsGallery.DataLayer.DataBase.Gallery>

@{
    ViewBag.Title = "Galleries";
    string is3ds = Request.UserAgent.Contains("Nintendo 3DS").ToString().ToLower();
    string paginationStyle = Request.UserAgent.Contains("New Nintendo 3DS") ? "manualInput" : "allPagesShrink";
    string isOld3ds = (Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS")).ToString().ToLower();
}

@section Styles {
    @System.Web.Optimization.Styles.Render("~/Content/pagination")
}

<div class="section-white">
    <div class="container body-content">
        <div class="h2-container">
            <div class="dropdown btn-group pull-right">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Filter</button>
                <ul class="filter-ul dropdown-menu dropdown-menu-right">
                    <li class="active"><a class="filter" value="updated" href="#">Updated</a></li>
                    <li><a class="filter" value="new" href="#">New</a></li>
                    <li><a class="filter" value="old" href="#">Old</a></li>
                    <li><a class="filter" value="big" href="#">Big</a></li>
                    <li><a class="filter" value="best" href="#">Best</a></li>
                    <li><a class="filter" value="3d" href="#">3D</a></li>
                </ul>
            </div>
            <h2 class="text-success">Galleries <img id="loading" src="~/Content/loading_black.gif" height="25" width="25" hidden /></h2>
        </div>
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-top">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="create-new">
                <a href="@Url.Action("Create", "Gallery")" class="btn btn-success">Create New</a>
            </div>
        }
        <div id="gallery-data">
            <div class="row">
                @{ Html.RenderAction("GetElements", "Gallery", new { items = Model }); }
            </div>
        </div>

        @{
            int pages = (int)ViewBag.Pages;
            if (pages > 1)
            {
                <div id="pagination" class="t-slate-gray text-center"></div>
            }
        }
    </div>
</div>

@section scripts {
    @if (bool.Parse(isOld3ds))
        {
        @System.Web.Optimization.Scripts.Render("~/bundles/paginationFor3ds")
    }
    else
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/paginationAjax")
    }
    <script>
        $(function () {

            if (@is3ds == true) {
                $(".gallery-name").each(function (i, e) {
                    var thisText = $(this).text();
                    $(this).text(thisText=thisText.replace(/І/g, 'I'));
                    $(this).text(thisText=thisText.replace(/і/g, 'i'));
                    $(this).text(thisText=thisText.replace(/Ї/g, 'Ï'));
                    $(this).text(thisText=thisText.replace(/ї/g, 'ï'));
                    $(this).text(thisText=thisText.replace(/Є/g, 'Σ'));
                    $(this).text(thisText=thisText.replace(/є/g, 'ε'));
                });
            }

            var dataUrl =@isOld3ds?'@Url.Action("Index", "Gallery")' : '@Url.Action("ShowPage", "Gallery")';
            var dataFilters = { filter: '@ViewBag.Filter' };

            initPagination(@ViewBag.Page, @ViewBag.Pages, dataUrl, dataFilters, "#gallery-data", false, "@paginationStyle");
        })
    </script>
}
