@model IEnumerable<_3dsGallery.DataLayer.DataBase.Picture>

@{
    ViewBag.Title = "Images by " + ViewBag.Login;
    string isOld3ds = (Request.UserAgent.Contains("Nintendo 3DS") && !Request.UserAgent.Contains("New Nintendo 3DS")).ToString().ToLower();
}

@section Styles {
    @System.Web.Optimization.Styles.Render("~/Content/pagination")
}

<div class="section-white">
    <div class="container body-content">
        <div class="h2-container">
            <div class="dropdown btn-group pull-right">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Filter</button>
                <ul class="filter-ul dropdown-menu dropdown-menu-right">
                    <li class="active"><a class="filter" value="new" href="#">New</a></li>
                    <li><a class="filter" value="old" href="#">Old</a></li>
                    <li><a class="filter" value="best" href="#">Best</a></li>
                    <li><a class="filter" value="3d" href="#">3D</a></li>
                    <li><a class="filter" value="2d" href="#">2D</a></li>
                </ul>
            </div>
            <h2 class="text-info">Images <img id="loading" src="~/Content/loading_black.gif" height="25" width="25" hidden /></h2>
            <h5>by <a href="@Url.Action("UserProfile","User")">@ViewBag.Login</a></h5>
        </div>
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-top">
        <div id="picture-data">
            <div class="row">
                @{ Html.RenderAction("GetElements", "Picture", new { items = Model }); }
            </div>
        </div>

        @{
            int pages = (int)ViewBag.Pages;
            if (pages > 1)
            {
                <div id="pagination" class="t-slate-gray text-center"></div>
            }
        }
    </div>
</div>

@section scripts {
    @RenderPage("~/Views/Shared/MainScripts.cshtml")
    @if (bool.Parse(isOld3ds))
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/paginationFor3ds")
    }
    else
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/paginationAjax")
    }
    <script>
        $(function () {

            var dataUrl =@isOld3ds?'@Url.Action("Likes", "User")' : '@Url.Action("ShowPage", "Picture")';
            var dataFilters = { filter: '@ViewBag.Filter' };
            if (!@isOld3ds){
                dataFilters["user"] = '@ViewBag.Login';
            }

            initPagination(@ViewBag.Page, @ViewBag.Pages, dataUrl, dataFilters, "#picture-data", true);
        })
    </script>
}
